html,
body {
  user-select: none;
  -webkit-user-select: none;
  background: #f2f2f2;
}
.redish {
  color: #b45653;
}
.teal {
  color: #8abbab;
}
* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  user-select: none !important;
  -webkit-user-select: none !important;
  outline: none !important;
}
a {
  text-decoration: none;
}
ahover {
  text-decoration: none !important;
}
aactive {
  text-decoration: none !important;
}
input,
textarea {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  user-select: text !important;
  -webkit-user-select: text !important;
  resize: none;
}
.vertically-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: #008000;
  color: #008000;
  box-shadow: 0 0 10px 0;
/* Inherits the font color */
  height: 2px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
}
button {
  border: 0px solid #fff;
  background: transparent;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  color: #838d8f;
}
button:focus {
  outline: none;
}
ul {
  padding: 0 !important;
}
.profit-color {
  background-color: transparent;
  -webkit-transition: background linear 0.2s;
  transition: background linear 0.2s;
}
.profit-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(10,10,10,0.9);
  box-shadow: 0px 1px 5px 0px rgba(10,10,10,0.9);
  background: #fff;
}
.profit-navbar-bar {
  height: 2px;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.45);
}
.profit-navbar>span {
  position: relative;
  top: 5px;
}
.profit-navbar-inner {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 16px;
}
.profit-logo {
  float: left;
  font-weight: bold;
}
.logo-icon {
  margin-left: -18px;
  transition: margin linear 0.2s;
}
.logo-text {
  float: left;
  padding-left: 2.5px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.profit-add {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  padding: 10px;
  left: 0;
  z-index: 2000;
  color: #000;
  background: #fff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(10,10,10,0.9);
  box-shadow: 0px -1px 5px 0px rgba(10,10,10,0.9);
  display: inline-block;
}
.profit-add.invis {
  -webkit-transform: translate3d(0, 110%, 0);
  transform: translate3d(0, 110%, 0);
}
.profit-add:active {
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
.profit-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  text-align: center;
  opacity: 0;
  margin: auto;
  -webkit-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s;
  display: none;
  z-index: -1;
}
.profit-loading.active {
  z-index: 202;
  opacity: 1;
}
.profit-group-navbar {
  padding: 5px 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
  z-index: 500;
}
.profit-group-navbar ul {
  overflow-y: hiden !important;
}
.profit-group-tab {
  padding: 2.5px 7.5px 2.5px 7.5px;
  margin: 0 5px;
  display: inline-block;
  letter-spacing: -0.5px;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  float: left;
}
.profit-group-tab:first-child {
  margin-left: 0 !important;
}
.profit-groups-tabs {
  width: 1000px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0;
}
.profit-groups-tabs::-webkit-scrollbar-track {
  border-radius: 0px;
  width: 0;
}
.profit-groups-tabs::-webkit-scrollbar-thumb {
  border-radius: 0px;
  width: 0;
  height: 0;
}
.profit-group-tab:active {
  background: #f7f7f7;
}
.profit-group-tab.active {
  color: #000;
  font-weight: bold;
}
.active-tab-indicator {
  height: 5px;
  border-radius: 3px;
  background: #000;
  left: 0;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-in-out 0.3s, width ease 0.3s, background ease 0.3s;
  transition: -webkit-transform ease-in-out 0.3s, width ease 0.3s, background ease 0.3s;
  width: 34px;
  margin-top: -5px;
}
.main-container {
  position: relative;
  padding: 5px;
}
.black-drop {
  background: rgba(0,0,0,0.75);
  position: fixed;
  left: 0;
  top: 40px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}
.black-drop.active {
  opacity: 1;
  z-index: 2001;
}
.profit-feeds {
  position: relative;
  margin-top: 70px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: inline-block;
}
.profit-all-item:not(:last-child) {
  margin-bottom: 15px;
}
.profit-all-item>div:last-child {
  margin-bottom: 0;
}
.profit-items-feed {
  display: none;
  width: 100%;
  padding: 10px 5px 10px 5px;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.profit-items-feed.active {
  display: inline-block;
  -webkit-animation: fadeIn ease-in-out 0.5s;
}
.profit-noitem {
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
  color: #1a1a1a;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 100;
  background: #f2f2f2;
}
.profit-item,
.profit-item-detail {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: scale(4px);
  -webkit-transform: scale(4px);
  -o-transform: scale(4px);
  margin: 0;
  box-shadow: 0 2px 2px 0px #ccc;
  margin-bottom: 15px;
  background: #fff;
}
.profit-items-feed>.profit-item:not(.profit-short-report).active {
  background: rgba(0,0,0,0.1);
}
.profit-item:last-child,
.profit-item-detail:last-child {
  margin-bottom: 5px;
}
.profit-item.attachment {
  min-height: 350px;
}
.profit-item>div,
.profit-item-detail>div {
  padding: 10px;
}
.profit-item>div:not(:first-child),
.profit-item-detail>div:not(:first-child) {
  padding-top: 0px;
}
.profit-item-title {
  font-weight: 300;
  letter-spacing: -0.5px;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profit-item-attachment {
  height: 150px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.profit-item-description {
  padding: 10px;
  max-height: 100px;
  width: 100%;
  color: #444;
  font-weight: 300;
}
.profit-item-description p {
  line-height: 1.3em;
  overflow: hidden;
  max-height: 100px;
  width: 100%;
}
.profit-item-timestamp {
  font-weight: 400;
  font-size: 80%;
  color: #000;
}
.profit-item-cost {
  margin: 0 -2.5px;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px 5px 10px !important;
  margin-bottom: 10px;
}
.profit-item-cost.income {
  background: #97eeaf;
  border-right: 5px solid #28b951;
  border-left: 5px solid #28b951;
}
.profit-item-cost.expense {
  background: #ff9494;
  border-right: 5px solid #f11414;
  border-left: 5px solid #f11414;
}
.profit-item-cost .profit-item-category {
  text-transform: uppercase;
  font-weight: bold;
}
.profit-item-group {
  font-weight: 600;
  font-size: 80%;
  color: #000;
  position: absolute;
  right: 2.5px;
  float: right;
  padding: 5px !important;
  margin-top: -25px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-right: 5px solid rgba(0,0,0,0.3);
}
.profit-item-actions {
  color: #0077af;
  text-align: center;
}
.profit-item-action {
  padding: 5px 10px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: scale(4px);
  -webkit-transform: scale(4px);
  -o-transform: scale(4px);
}
.profit-item-action:active {
  background: #ededed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: scale(4px);
  -webkit-transform: scale(4px);
  -o-transform: scale(4px);
}
.left-menu {
  height: 100%;
  position: fixed;
  width: 100%;
  padding-left: 20%;
  z-index: 20000;
  top: 40px;
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  display: inline-block;
}
.left-menu-active {
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.profile-pic-bg {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  position: relative;
  height: 55px;
  left: 0;
  width: 100%;
  top: 95px;
  padding-left: 50px;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.1px;
}
.profile-pic-bg div.name {
  font-weight: 800;
}
.profile-pic-bg div.email {
  font-weight: 200;
}
.left-menu-profile .profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.left-menu-option:active {
  background: #fefefe;
}
.close-menu {
  border: 1px solid #fff;
  margin: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
  cursor: pointer;
  top: -44px;
  float: right;
  padding: 7px 10px 7px 10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.left-menu-option {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  display: inline-block;
  color: #000;
  font-weight: 300;
  font-size: 1.3em;
  text-align: left;
  padding: 12px 10px;
}
.left-menu-option>span {
  padding-left: 15px;
}
.left-menu-profile {
  width: 100%;
  display: inline-block;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-menu-profile .profile-pic {
  width: 40px;
  height: 40px;
  position: relative;
  top: 48px;
  left: 5px;
}
.top-view {
  padding: 4px;
  overflow: hidden;
  background: #fff;
  display: block;
  position: relative;
  width: 100%;
  height: 430px;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 100;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
  box-shadow: 0px 1px 1px #e3e3e3;
  border: 1px solid #bdbdbd;
}
.image-view {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  z-index: 30000;
  left: 0;
  top: 0;
  display: inline-block;
  -webkit-transform: translate3d(0, 200%, 0);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
}
.image-view img {
  top: 50%;
  width: 100%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.image-view-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.thumbnail {
  width: 100%;
  height: 40px;
  background: #000;
  display: none;
  color: #fff;
}
.edit-thumbnail {
  display: block;
}
.close-preview {
  position: absolute;
  top: 10px;
  left: 15px;
  opacity: 0.8;
  font-size: 1.5em;
  color: #fff;
  z-index: 1000;
}
.view {
  height: 100%;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
}
.view-content {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
  padding-bottom: 60px;
  height: 100%;
  display: inline-block;
  width: 100%;
}
.no {
  display: none;
}
.home-item {
  width: 100%;
  display: inline-block;
  position: relative;
  font-weight: 700;
  background: #fefefe;
  border-bottom: 1px solid #e4e4e6;
  padding: 10px 7px;
}
.home-item:active {
  background: #fff;
}
.item-name {
  float: left;
  position: relative;
  display: inline-block;
}
.item-amount {
  float: right;
  position: relative;
  display: inline-block;
}
.tag-item {
  width: 100%;
  display: inline-block;
  position: relative;
  font-weight: 300;
  border-bottom: 1px solid #e4e4e6;
  padding: 7px 7px;
  padding: 10px 7px;
}
.tag-item:active {
  background: #ededed;
}
.left-indicator {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding-top: 1px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transform: scale(30px);
  -webkit-transform: scale(30px);
  -o-transform: scale(30px);
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px;
  margin: 2px 5px 0px 0px;
  position: relative;
  text-shadow: 0px 1px 0px #000;
}
.action-left {
  font-weight: 600;
  color: #56c754;
  padding: 3px 14px;
  position: absolute;
  left: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
}
.action-right {
  font-weight: 600;
  color: #56c754;
  padding: 3px 14px;
  position: absolute;
  right: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
}
.action-left:active,
.action-right:active {
  background: #ededed;
}
.primary-action {
  color: #56c754;
  padding: 3px 14px;
  position: absolute;
  right: 0px;
  right: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: 0px !important;
  font-size: 1.2em;
  font-weight: 500;
}
.secondary-action {
  font-weight: 300;
  color: #56c754;
  padding: 3px 14px;
  position: absolute;
  right: 0px;
  right: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
}
.primary-action:active {
  background: #ededed;
}
.color-red {
  background: #f3402a;
}
.color-orange {
  background: #ffae25;
}
.color-green {
  background: #74c632;
}
.color-yellow {
  background: #e6b800;
}
.color-teal {
  background: #36d2c7;
}
.color-blue {
  background: #4098ff;
}
.color-purple {
  background: #bc49e5;
}
.color-black {
  background: #1f1f1f;
}
.color-grey {
  background: #ccc;
}
.color-option {
  width: 70px;
  height: 70px;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-transform: scale(40px);
  -webkit-transform: scale(40px);
  -o-transform: scale(40px);
}
.color-selected {
  border: 2px solid #444;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #464646;
  display: inline-block;
}
form {
  width: 100%;
  overflow: hidden;
}
.create-tag-form {
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}
.create-tag-form .row {
  margin: 15px;
}
.create-tag-form .col-xs-4 {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.larger-icon {
  font-size: 1.1em;
}
.nav-title {
  display: block;
  text-align: center;
  position: absolute;
  width: 50%;
  top: -13px;
  font-weight: 400;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
  margin-left: 25%;
}
.nav {
  margin-bottom: 0px;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  z-index: 700;
  background: #fefefe;
  border-bottom: 1px solid #ccc;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.right-action {
  display: inline-block;
  position: absolute;
  color: #56c754 !important;
  right: 12px;
  top: -10px;
  padding: 15px;
  z-index: 2;
  text-align: right;
  width: auto;
}
.left-action {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -10px;
  padding: 15px;
  z-index: 2;
  width: auto;
  text-align: left;
  color: #56c754 !important;
}
.fa-inline {
  position: relative;
  display: inline-block;
  top: 1px;
}
.basic-input {
  margin-left: -3px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 1em;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-transform: scale(0px);
  -webkit-transform: scale(0px);
  -o-transform: scale(0px);
  box-shadow: 0px 0px 0px #fff !important;
  -webkit-appearance: none;
  border-right: 1px solid #fff;
}
.basic-input:focus {
  outline: none;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.text-area-input {
  height: 60px;
  padding-top: 5px;
  -webkit-appearance: none;
}
.one-line-input {
  height: 37px;
}
.full-width-input {
  width: 102%;
}
.styled select {
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 1em;
  background: #fff;
  height: 46px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-transform: scale(0px);
  -webkit-transform: scale(0px);
  -o-transform: scale(0px);
  width: 90%;
  margin-left: -3px;
  padding-left: 10px;
  padding-right: 20px;
  background: #fff;
  line-height: 1.4em;
  margin-bottom: 10px;
  font-weight: 300;
  color: #56c754;
  text-align: center;
}
.styled select:focus {
  outline: none;
}
.styled {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 32px;
  color: #444;
  text-align: center;
}
.button {
  display: inline-block;
  position: relative;
  background: #fff;
  color: #838d8f;
  border: 1px solid #56c754;
}
.button-half {
  width: 40.1%;
  text-align: center;
  padding: 10px 0px 12px 0px;
  margin: 3px 4.5% 10px 4.5%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
}
.button:active {
  background-color: #ededed;
  outline: none;
}
.new-tag {
  position: relative;
  display: inline-block;
  padding: 6px 14px 8px 14px;
  border: 1px solid #56c754;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
  color: #838d8f;
  width: 100%;
  text-align: center;
}
.new-tag:active {
  background: #fff;
}
.entry-list {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  height: 100%;
  overflow-y: auto;
  top: -45px;
  padding-top: 32px;
  z-index: 500 !important;
  padding-bottom: 75px;
}
.entry-list li {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  margin: 0px;
  height: 60px;
}
.entry-list li:active {
  background: greyColor;
}
.entry-tag {
  display: inline-block;
  position: relative;
  top: 3px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -moz-transform: scale(35px);
  -webkit-transform: scale(35px);
  -o-transform: scale(35px);
  color: #fff;
  margin-right: 8px;
  width: 36px;
  height: 36px;
  text-align: center;
  float: left;
}
.no-tag {
  border: 1px solid #ccc;
  color: #838d8f;
  top: -3px;
}
.item-more {
  display: inline-block;
  float: right;
}
.item-content {
  display: inline-block;
  float: left;
  width: auto;
}
.entry-title {
  font-size: 1em;
  font-weight: 500;
}
.entry-notes {
  font-size: 13px;
  font-weight: 200;
  color: #9d9d9d;
  height: 36px;
}
.entry-date {
  font-size: 12px;
  font-weight: 200;
}
.entry-value {
  display: inline-block;
  position: relative;
  font-size: 1em;
  line-height: 1.1em;
  float: right;
  font-weight: 300;
  top: 0px;
  height: 20px;
  float: right;
}
.list-link {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 8px;
}
.icon-group {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.item-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
}
.item-actions {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.75);
  padding-top: 30px;
  color: #fff;
  z-index: 5;
  display: none;
}
.item-actions a {
  margin: 0 5px;
}
.list-link:hover {
  color: #000;
  opacity: 0.9;
}
.list-link:active {
  color: inherit;
  background: #ededed;
}
.info {
  color: #838d8f;
  text-align: right;
}
.attached {
  display: inline-block;
  position: relative;
  top: -3px;
  float: right;
  opacity: 0.5;
}
.section {
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
}
.name {
  font-size: 1em;
  font-weight: 500;
}
.price {
  font-size: 1em;
  font-weight: 500;
}
.description {
  font-size: 1em;
  font-weight: 300;
}
.right-button-wrap {
  padding: 15px;
  position: relative;
  display: inline-block;
  top: -11px;
  right: -32px;
  font-weight: 300;
  color: #56c754;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  font-weight: 300;
  letter-spacing: -1px !important;
}
.right-button-wrapactive {
  background: #ededed;
}
.back-button-wrap {
  font-weight: 300;
  color: #56c754;
  padding: 3px 6px;
  position: absolute;
  right: 0px;
  left: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
  width: 100px;
  text-align: left;
}
.back-img2 {
  top: 1px;
  position: relative;
  display: inline-block;
}
.back-img {
  display: inline-block;
  position: relative;
  top: -2px;
}
.back-button-wrap:active {
  background: #ededed;
}
.add-button {
  width: 31px;
  height: 31px;
  font-weight: 400;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: scale(8px);
  -webkit-transform: scale(8px);
  -o-transform: scale(8px);
  display: inline-block;
  position: relative;
  display: inline-block;
  padding: 1px 10px 7px 12px;
  background: #f23e2b;
  display: inline-block;
  color: #ededed;
  border: 1px solid #cd3525;
  top: -6px;
  background-image: -o-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: -moz-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: -webkit-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: -ms-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: linear-gradient(to bottom, #db4b38 0%, #d14836 100%);
  color: #fff !important;
  right: -5px;
}
.add-button:active {
  box-shadow: inset 0px 4px 14px #612320;
  border: 1px solid #612320;
}
.add-button:focus {
  box-shadow: inset 0px 4px 14px #612320;
  border: 1px solid #612320;
}
.add-icon {
  position: absolute;
  right: 6px;
  top: 3px;
  display: none;
}
.button-text {
  display: inline-block;
  position: relative;
  top: -8px;
  left: -5px;
  font-size: 1.6em;
  font-weight: 400;
  color: #fff !important;
}
.entry-area {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.full-button {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  padding: 10px 0px 15px 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transform: scale(30px);
  -webkit-transform: scale(30px);
  -o-transform: scale(30px);
  background: #fff;
}
.years-menu {
  width: 100%;
  height: auto;
  position: fixed;
  display: inline-table;
  background: #fff;
  top: -100%;
  border-bottom: 1px solid #dbdbdb;
  left: 0px;
}
.years-menu-active {
  top: 0px;
}
.year-menu-option {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  display: inline-block;
  color: #000;
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  padding: 20px 0px;
}
.year-menu-controls {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  display: inline-block;
  color: #56c754;
  font-weight: 300;
  font-size: 1.3em;
  z-index: 500;
  text-align: center;
  padding: 20px 0px;
}
.dark-bg {
  background: rgba(0,0,0,0.5);
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 400;
}
.years-bg {
  display: none;
}
.input-icon {
  position: absolute;
  display: inline;
  right: 8px;
  top: 9px;
  color: #838d8f;
}
.left-input-icon {
  position: absolute;
  display: inline;
  left: 8px;
  top: 9px;
  color: #ebebeb;
}
.years-dropdown-icon {
  position: absolute;
  bottom: 2px;
  display: block;
  left: 0px;
  text-align: center;
  width: 100%;
}
.search-box-wrap {
  position: relative;
  z-index: 1000;
}
.search-input {
  opacity: 0.9;
  background: #fff;
  font-family: 'FontAwesome';
}
.profit-list {
  overflow: hidden !important;
}
.login-view,
.signup-view {
  background: #fff;
  position: fixed;
  display: inline-block;
  z-index: 1200;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
.login-header,
.signup-header {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-top: 20px;
}
.login-form,
.signup-form {
  margin-top: 30px;
  position: relative;
  display: inline-block;
}
.login-page-button {
  text-align: center;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: scale(8px);
  -webkit-transform: scale(8px);
  -o-transform: scale(8px);
  position: relative;
  display: block;
  margin: 10px auto;
  width: 80%;
  color: #fff;
}
.login-button {
  background: #ededed;
  border: 1px solid #dbdbdb;
  color: #838d8f;
}
.facebook-login {
  background: #3b5999;
  border: 1px solid #314c85;
}
.twitter-login {
  background: #4099ff;
  border: 1px solid #296dba;
}
.facebook-login:active,
.twitter-login:active {
  opacity: 0.5;
}
.login-button:active {
  background: #fff;
}
.file-preview {
  text-align: center;
  width: 100%;
  padding: 0 10px;
}
.file-preview img {
  width: 100%;
}
.calc-check {
  float: left;
  width: 40px;
}
.float-right {
  float: right;
  display: inline-block;
  position: relative;
  top: -30px;
  padding: 10px;
}
.bottom-container {
  display: inline-block;
  position: fixed;
  background: #263038;
  width: 100%;
  bottom: 0px;
}
.box {
  width: 100%;
  color: #fff;
  padding: 10px;
  background: #c7ccd6;
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
}
.box2 {
  width: 100%;
  color: #fff;
  padding: 10px;
  background: #1c1f26;
}
.line-div {
  background: #c7ccd6;
  height: 1px;
  width: 90%;
  display: inline-block;
  margin: 10px auto;
}
.export-link {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  padding: 0px 0px 10px 0px;
}
.calc-view {
  padding-bottom: 250px;
}
.bottom-button {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  background: #56c754;
  padding: 16px 0px 20px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
  color: #ecf0f1;
  box-shadow: 0px 1px 2px #e3e3e3;
  font-size: 1.5em;
  font-weight: 500;
  background: #fff;
  color: #56c754;
  border: 1px solid #bdbdbd;
}
.bottom-button:active,
.bottom-button:hover {
  background: #f2f2f2;
  color: #56c754;
}
.button-submit {
  background: #47c95d;
}
.button-submit:active,
.button-submit:hover {
  box-shadow: inset 0px 2px 5px #309c43;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
}
.onoffswitch {
  position: relative;
  width: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  margin: 10px auto;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin ease-in 0.3s;
  transition: margin ease-in 0.3s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Expense";
  padding-left: 10px;
  background-color: #d66c42;
  color: #fff;
}
.onoffswitch-inner:after {
  content: "Income";
  padding-left: 33px;
  background-color: #47c95d;
  color: #fff;
  text-align: left;
}
.onoffswitch-switch {
  width: 22px;
  height: 22px;
  margin: 6px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  -webkit-transform: translate3d(-94px, 0, 0);
  -webkit-transition: -webkit-transform ease-in 0.3s;
  transition: -webkit-transform ease-in 0.3s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  -webkit-transform: translate3d(0, 0, 0);
}
a:hover {
  text-decoration: none !important;
}
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.slide-left.ng-enter {
  z-index: 100;
  -webkit-transform: translate3d(100%, 0, 0);
}
.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.slide-left.ng-leave {
  z-index: 101;
  -webkit-transform: translate3d(0, 0, 0);
}
.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.slide-right.ng-enter {
  z-index: 100;
  -webkit-transform: translate3d(-100%, 0, 0);
}
.slide-right.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.slide-right.ng-leave {
  z-index: 101;
  -webkit-transform: translate3d(0, 0, 0);
}
.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}
