@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
html,
body {
  font-family: 'Open Sans', sans-serif;
  background-repeat: repeat;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 100%;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow: hidden !important;
  width: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  user-select: none !important;
  -webkit-user-select: none !important;
  outline: none !important;
}
.vertically-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  top: 0px;
  left: 0px;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
button {
  border: 0px solid #fff;
  background: transparent;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.view {
  padding: 0px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
}
.no {
  display: none;
}
.inline-view {
  padding-top: 66px;
}
.home-item {
  width: 100%;
  display: inline-block;
  position: relative;
  font-weight: 700;
  background: #f9f9f9;
  border: 1px solid #e4e4e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: scale(4px);
  -webkit-transform: scale(4px);
  -o-transform: scale(4px);
  padding: 10px 7px;
}
.home-item:active {
  background: #fff;
}
.item-name {
  float: left;
  position: relative;
  display: inline-block;
}
.item-amount {
  float: right;
  position: relative;
  display: inline-block;
}
.tag-item {
  width: 100%;
  display: inline-block;
  position: relative;
  font-weight: 300;
  border: 1px solid #e4e4e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: scale(4px);
  -webkit-transform: scale(4px);
  -o-transform: scale(4px);
  padding: 7px 7px;
  padding: 10px 7px;
}
.tag-item:active {
  background: #ededed;
}
.home-list-item {
  margin-bottom: 2px;
}
.left-indicator {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transform: scale(30px);
  -webkit-transform: scale(30px);
  -o-transform: scale(30px);
  display: inline-block;
  float: left;
  height: 10px;
  width: 10px;
  margin: 6px 5px 0px 0px;
  position: relative;
}
.action-left {
  font-weight: 600;
  color: #000;
  padding: 3px 14px;
  position: absolute;
  left: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
}
.action-left:active {
  background: #ededed;
}
.primary-action {
  color: #000;
  padding: 3px 14px;
  position: absolute;
  right: 0px;
  right: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: 0px !important;
  font-size: 1.2em;
  font-weight: 500;
}
.secondary-action {
  font-weight: 300;
  color: #000;
  padding: 3px 14px;
  position: absolute;
  right: 0px;
  right: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
}
.primary-action:active {
  background: #ededed;
}
.color-red {
  background: #f3402a !important;
}
.color-orange {
  background: #ffae25;
}
.color-green {
  background: #74c632;
}
.color-yellow {
  background: #ffea39;
}
.color-teal {
  background: #36d2c7;
}
.color-blue {
  background: #4098ff;
}
.color-purple {
  background: #bc49e5;
}
.color-black {
  background: #1f1f1f;
}
.color-grey {
  background: #ccc;
}
.color-option {
  width: 77px;
  height: 77px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-transform: scale(40px);
  -webkit-transform: scale(40px);
  -o-transform: scale(40px);
}
.color-selected {
  border: 2px solid #444;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #464646;
  display: inline-block;
}
form {
  width: 100%;
  overflow: hidden;
}
.create-tag-form {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 320px;
  padding: 0px;
}
.larger-icon {
  font-size: 1.1em;
}
.nav-title {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  top: -13px;
  font-weight: 400;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
}
.nav {
  margin-bottom: 20px;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  z-index: 700;
  background: rgba(255,255,255,0.98);
  background: #f9f9f9;
  border: 1px solid #e4e4e6;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
/*background-image: -ms-linear-gradient(top, #F4F4F4 0%, #EFEFEF 100%)
  background-image: -moz-linear-gradient(top, #F4F4F4 0%, #EFEFEF 100%)
  background-image: -o-linear-gradient(top, #F4F4F4 0%, #EFEFEF 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F4F4F4), color-stop(1, #EFEFEF))
  background-image: -webkit-linear-gradient(top, #F4F4F4 0%, #EFEFEF 100%)
  background-image: linear-gradient(to bottom, #F4F4F4 0%, #EFEFEF 100%)*/
}
.right-action {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -10px;
  padding: 15px;
  z-index: 2;
  width: 100px;
}
.left-action {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -10px;
  padding: 15px;
  z-index: 2;
  width: auto;
  text-align: left;
}
.fa-inline {
  position: relative;
  display: inline-block;
  top: 1px;
}
.basic-input {
  margin-left: -3px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 1em;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-transform: scale(0px);
  -webkit-transform: scale(0px);
  -o-transform: scale(0px);
  box-shadow: 0px 0px 0px #fff !important;
  -webkit-appearance: none;
  border-right: 1px solid #fff;
}
.basic-input:focus {
  outline: none;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.text-area-input {
  height: 120px;
  padding-top: 5px;
  -webkit-appearance: none;
}
.one-line-input {
  height: 37px;
}
.full-width-input {
  width: 102%;
}
.styled select {
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 1em;
  background: #fff;
  height: 40px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-transform: scale(0px);
  -webkit-transform: scale(0px);
  -o-transform: scale(0px);
  width: 103%;
  margin-left: -3px;
  padding-left: 10px;
  padding-right: 20px;
  background: #fff;
  line-height: 1.3em;
  margin-bottom: 10px;
  font-weight: 300;
  height: auto;
  border: 1px solid #ccc;
}
.styled select:focus {
  outline: none;
}
.styled {
  width: 64%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-right: 1px solid #ccc;
  height: 32px;
}
.profit-add {
  width: 100%;
}
.items {
  padding: 7px;
}
.button {
  display: inline-block;
  position: relative;
  background: #fff;
}
.button-half {
  width: 40.1%;
  text-align: center;
  padding: 10px 0px 12px 0px;
  margin: 10px 4.5% 10px 4.5%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
}
.button:active {
  background-color: #ededed;
  outline: none;
}
.new-tag {
  position: relative;
  display: inline-block;
  background: #ededed;
  padding: 4px 14px 5px 14px;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: scale(3px);
  -webkit-transform: scale(3px);
  -o-transform: scale(3px);
}
.new-tag:active {
  background: #fff;
}
.entry-list {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  height: 100%;
  overflow-y: scroll;
  top: -45px;
  padding-top: 32px;
  z-index: 500 !important;
}
.entry-list li {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  margin: 0px;
  height: 64px;
}
.entry-list li:active {
  background: greyColor;
}
.entry-tag {
  display: inline-block;
  position: relative;
  top: -4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  font-size: 0.7em;
  line-height: 1em;
  color: #fff;
  margin-right: 6px;
  width: 36px;
  height: 36px;
  text-align: center;
}
.entry-list li .desc {
  display: inline-block;
  position: relative;
  font-size: 0.8;
  line-height: 1em;
  top: 2px;
  float: left;
  font-weight: 300;
  width: 90%;
  padding-left: 46px;
}
.no-tag {
  border: 1px solid #ccc;
  color: #a6b1b3;
  top: -3px;
}
.entry-title {
  display: inline-block;
  position: relative;
  font-size: 1em;
  line-height: 1.1em;
  float: left;
  font-weight: 500;
  top: 0px;
  height: 20px;
}
.entry-date {
  display: inline-block;
  font-size: 12px;
  font-weight: 200;
}
.entry-value {
  display: inline-block;
  position: relative;
  font-size: 1em;
  line-height: 1.1em;
  float: right;
  font-weight: 300;
  top: 0px;
  height: 20px;
  float: right;
}
.list-link {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px 10px 8px 10px;
}
.item-wrap {
  display: inline-block;
  position: relative;
  margin-top: 8px;
  width: 100%;
}
.list-link:hover {
  color: #000;
  opacity: 0.9;
}
.list-link:active {
  color: inherit;
  background: #ededed;
}
.info {
  display: inline-block;
  position: relative;
  font-size: 0.8;
  line-height: 1em;
  color: #a6b1b3;
  float: right;
  text-align: right;
}
.attached {
  display: inline-block;
  position: relative;
  top: -3px;
  float: right;
  opacity: 0.5;
}
.section {
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
}
.name {
  font-size: 1em;
  font-weight: 500;
}
.price {
  font-size: 1em;
  font-weight: 500;
}
.description {
  font-size: 1em;
  font-weight: 300;
}
.add-button-wrap {
  padding: 15px;
  position: relative;
  display: inline-block;
  top: -11px;
  right: -32px;
}
.back-button-wrap {
  font-weight: 300;
  color: #000;
  padding: 3px 6px;
  position: absolute;
  right: 0px;
  left: -9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-transform: scale(5px);
  -webkit-transform: scale(5px);
  -o-transform: scale(5px);
  letter-spacing: -1px !important;
  font-size: 1.2em;
  width: 100px;
  text-align: left;
}
.back-img2 {
  top: 1px;
  position: relative;
  display: inline-block;
}
.back-img {
  display: inline-block;
  position: relative;
  top: -2px;
}
.back-button-wrap:active {
  background: #ededed;
}
.add-button {
  width: 31px;
  height: 31px;
  font-weight: 400;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: scale(8px);
  -webkit-transform: scale(8px);
  -o-transform: scale(8px);
  display: inline-block;
  position: relative;
  display: inline-block;
  padding: 1px 10px 7px 12px;
  background: #f23e2b;
  display: inline-block;
  color: #ededed;
  border: 1px solid #cd3525;
  top: -6px;
  background-image: -o-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: -moz-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: -webkit-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: -ms-linear-gradient(bottom, #db4b38 0%, #d14836 100%);
  background-image: linear-gradient(to bottom, #db4b38 0%, #d14836 100%);
  color: #fff !important;
  right: -5px;
}
.add-button:active {
  box-shadow: inset 0px 4px 14px #612320;
  border: 1px solid #612320;
}
.add-button:focus {
  box-shadow: inset 0px 4px 14px #612320;
  border: 1px solid #612320;
}
.add-icon {
  position: absolute;
  right: 6px;
  top: 3px;
  display: none;
}
.button-text {
  display: inline-block;
  position: relative;
  top: -8px;
  left: -5px;
  font-size: 1.6em;
  font-weight: 400;
  color: #fff !important;
}
.entry-area {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.full-button {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  padding: 10px 0px 15px 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transform: scale(30px);
  -webkit-transform: scale(30px);
  -o-transform: scale(30px);
  background: #fff;
}
.years-menu {
  width: 100%;
  height: auto;
  position: absolute;
  display: inline-block;
  background: #fff;
  padding-top: 10px;
  top: -510px;
  z-index: 500;
  border-bottom: 1px solid #dbdbdb;
}
.year-menu-option {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  display: inline-block;
  color: #000;
  font-weight: 300;
  font-size: 1.3em;
  z-index: 500;
  text-align: center;
  padding: 20px 0px;
}
.dark-bg {
  background: rgba(0,0,0,0.5);
  display: inline-block;
  position: fixed;
  top: 0px 0px;
  width: 100%;
  height: 100%;
  z-index: 400;
}
.years-bg {
  display: none;
}
.input-icon {
  position: absolute;
  display: inline;
  right: 8px;
  top: 9px;
}
.left-input-icon {
  position: absolute;
  display: inline;
  left: 8px;
  top: 9px;
  color: #ccc;
}
.years-dropdown-icon {
  position: absolute;
  bottom: 2px;
  display: block;
  left: 0px;
  text-align: center;
  width: 100%;
}
.search-box-wrap {
  position: relative;
  z-index: 1000;
}
.search-input {
  opacity: 0.9;
  background: #fff;
  font-family: 'FontAwesome';
}
.listanimate-enter,
.listanimate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) all;
  transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.listanimate-leave.listanimate-leave-active,
.listanimate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.listanimate-enter.listanimate-enter-active,
.listanimate-leave {
  opacity: 1;
  height: 63px;
  width: 100%;
}
.profit-list {
  overflow: hidden !important;
}
.login-view {
  background: #fff;
  position: fixed;
  display: inline-block;
  z-index: 1200;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
.login-header {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-top: 40px;
}
.login-form {
  margin-top: 50px;
  position: relative;
  display: inline-block;
}
.login-button {
  text-align: center;
  background: #ededed;
  border: 1px solid #dbdbdb;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: scale(8px);
  -webkit-transform: scale(8px);
  -o-transform: scale(8px);
  position: relative;
  display: block;
  margin: 20px auto;
  width: 80%;
}
.facebook-login {
  text-align: center;
  background: #3b5999;
  border: 1px solid #314c85;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: scale(8px);
  -webkit-transform: scale(8px);
  -o-transform: scale(8px);
  position: relative;
  display: block;
  margin: 20px auto;
  width: 80%;
  color: #fff;
}
.facebook-login:active {
  opacity: 0.5;
}
.login-button:active {
  background: #fff;
}
.left-menu {
  height: 100%;
  display: inline-block;
  position: fixed;
  width: 80%;
  background: #fff;
  z-index: 20000;
  top: 0px;
}
.left-menu-option {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  display: inline-block;
  color: #000;
  font-weight: 300;
  font-size: 1.3em;
  z-index: 500;
  text-align: left;
  padding: 12px 10px;
}
.left-menu-option span {
  padding-left: 15px;
}
.left-menu-profile {
  width: 100%;
  display: inline-block;
  z-index: 500;
  height: 150px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.left-menu-profile .profile-pic {
  width: 50px;
  height: 50px;
  position: relative;
  top: 95px;
  left: 5px;
}
.profile-pic-bg {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  position: absolute;
  height: 55px;
  left: 0;
  width: 100%;
  top: 95px;
  padding-left: 70px;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.1;
}
.profile-pic-bg div.name {
  font-weight: 800;
}
.profile-pic-bg div.email {
  font-weight: 200;
}
.left-menu-profile .profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.left-menu-option:active {
  background: #f9f9f9;
}
.left-menu-bg {
  z-index: 19000;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.6;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .nav {
    height: 66px;
  }
  .left-action {
    top: 9px;
  }
  .right-action {
    top: 9px;
  }
  .nav-title {
    top: 7px;
  }
  .add-button {
    top: -1px;
    right: -1px;
  }
  .years-menu {
    padding-top: 30px;
  }
}
