<div class="view inline-view login-view" >
<div class="login-header">
  Profit
</div>
<form class="login-form">
  <div class='entry-area'>
        <input class="one-line-input full-width-input basic-input" placeholder="user email" ng-model="search.$"/>
    </div>
    <div class='entry-area'>
        <input class="one-line-input full-width-input basic-input" placeholder="password" ng-model="search.$"/>
    </div>
    <button class="login-button">
      Login or Create Account
    </button>
</form>

<button class="facebook-login">
    <i class="fa fa-facebook"></i>acebook Login
</button>

</div>
