<div class="profit-add inline-view view" >
	
	<form>
		<button class="button button-half"><i class="fa fa-cloud-upload"></i> Upload</button> <button class="button button-half"><i class="fa fa-camera"></i> Capture</button>
		<div class='entry-area'><input class="one-line-input full-width-input basic-input" placeholder="title"/></div>
		<div class='entry-area'><input class="one-line-input full-width-input basic-input" placeholder="date"/><i class="fa fa-calendar input-icon"></i></div>
		<div class='entry-area'><input class="one-line-input full-width-input basic-input" placeholder="value"/><i class="fa fa-usd input-icon"></i></div>
		<div class='entry-area'>
		
		<textarea class="basic-input text-area-input full-width-input" placeholder="notes"></textarea><i class="fa fa-tags input-icon"></i></div>

		<div class="styled">
		   <select>
		        <option>assign group (optional)</option>
		        <option>tech</option>
		        <option>software</option>
		        <option>transportation</option>
		    </select>
		</div>

		<a class="new-tag" href="#/createtag">new group</a>
		<div class="full-button">expense</div>
	</form>

</div>