<div class="view" size-views>
  <div class="top-view inline-view" >

  	<div class="nav">

       <div class="left-action">

          <button class='back-button-wrap' ng-click="_go('list', false)">
          <i class="fa fa-chevron-left back-img2"></i> Back</button>

        </div>

      <div class="nav-title">

        <span class="">Detail</span>

      </div>

    </div>

    <div class="view-content">
      <detail-part date="{{item.date}}" desc="The finding is part of a raft of studies looking at the phenomenon of epigenetic inheritance — how characteristics can be passed down from parent to child without ever touching the genetic code. Together, these studies are having a profound impact on how scientists look at biological " name="{{item.title}}" value="{{item.value}}" group="software">
      </detail-part>
    </div>

  </div>

 <a href="#" class="bottom-button">
      Edit This Thing
  </a>

</div>
