<div class="view" size-views image-preview-click ng-cloak>
   <div class="image-view">
    <div class="close-preview"><i class="fa fa-times-circle"></i></div>
    <img ng-src="{{entry.attachment._url}}" alt="{{entry.name}}">
  </div>
  <div class="top-view inline-view" >
    <div class="nav">
       <div class="left-action">
          <button class='back-button-wrap' ng-click="_go('detail/{{entry.id}}', false)">
          <i class="fa fa-chevron-left back-img2"></i> Cancel</button>
        </div>

      <div class="nav-title">

        <span class="">Edit Entry</span>

      </div>

    </div>

    <form class="view-content" name="editForm">

      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="entry.category" ng-checked="entry.category == 'expense'" required>
        <label class="onoffswitch-label" for="myonoffswitch">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
      </div>
      <div class="thumbnail text-center edit-thumbnail" ng-show="entry.attachment._url">Tap to see the attachment.</div>
      <button class="button button-half" ng-click="getLibrary()">
        <i class="fa fa-cloud-upload">
        </i>
        Upload
      </button>
      <button class="button button-half" ng-click="capturePhoto()">
        <i class="fa fa-camera">
        </i>
        Capture
      </button>
      <div class='entry-area'>
        <input class="one-line-input full-width-input basic-input" placeholder="title" ng-model="entry.title" required>
      </div>
      <div class='entry-area'>
        <input class="one-line-input full-width-input basic-input" type="date" placeholder="mm/dd/yyyy" ng-model="entry.date" required>
        <i class="fa fa-calendar input-icon">
        </i>
      </div>
      <div class='entry-area'>
        <input type="number" class="one-line-input full-width-input basic-input" placeholder="value" ng-model="entry.value" required>
        <i class="fa fa-usd input-icon">
        </i>
      </div>
      <div class='entry-area'>
        <textarea class="basic-input text-area-input full-width-input" placeholder="notes" ng-model="entry.notes" required></textarea>
        <i class="fa fa-align-left input-icon">
        </i>
      </div>
      <select class="basic-input styled" ng-model="entry.group" required placeholder="Select group">
        <option value="{{g.get('title')}}" ng-repeat="g in groups">{{g.get('title')}}</option>
      </select>
      <a class="new-tag" href="" ng-click="_go('newgroup', true)">
        <i class="fa fa-plus-circle"></i> Create a New Group
      </a>
    </form>
    <br/><br/><br/><br/>
  </div>
  <button class="bottom-button" ng-click="updateEntry()">
      <i class="fa fa-edit"></i> Update
  </button>

</div>