<div class="view inline-view" >

  <div class="nav">

     <div class="left-action menu-button">
        <button class="action-left"><i class="fa fa-bars fa-inline larger-icon"></i></button>
      </div>

    <div class="nav-title">

      <span class="">2014</span>
      <i class="fa fa-angle-down years-dropdown-icon"></i>

    </div>

  </div>

  <div class="years-menu">
    <div class="year-menu-option">
      2013
    </div>
    <div class="year-menu-option">
      2012
    </div>
    <div class="year-menu-option">
      2011
    </div>
  </div>
  <div class="dark-bg years-bg">
  </div>
  <div class="view-content">

    <div class="items">
      <home-item name="+ Income" amount="$3000.25">
      </home-item>
      <tag-item name="design" amount="$3000.25" color="color-red" click="_go(path, direction)">
      </tag-item>
      <home-item name="- Expense" amount="$3000.25">
      </home-item>
      <tag-item name="Hardware" amount="$2355.5" color="color-blue" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
      <tag-item name="Software" amount="$4563.5" color="color-purple" click="_go(path, direction)">
      </tag-item>
    </div>

  </div>

</div>
<a href="" ng-click="_go('calc', true)" class="bottom-button">
  New Entry
</a>