<div class="left-menu">
  <div class="left-menu-profile" style="background-image:url('{{cover}}')">
    <div class="profile-pic-bg">
      <div class="vertically-middle">
        <div class="name">
          <div ng-bind="currentUser.get('firstName') + ' ' + currentUser.get('lastName')"></div>
        </div>
        <div class="email">
          <div ng-bind="currentUser.get('email')"></div>
        </div>
      </div>
    </div>
    <div class="profile-pic">
      <img ng-src="http://graph.facebook.com/{{currentUser.get('fid')}}/picture?type=square" alt="Facebook Profile Picture">
    </div>
  </div>
  <div class="left-menu-option"><i class="fa fa-lg fa-file-text"></i><span>Export to PDF</span></div>
 <!-- <div class="left-menu-option"><i class="fa fa-lg fa-question-circle"></i><span>Help</span></div>
  <div class="left-menu-option"><i class="fa fa-lg fa-gear"></i><span>Settings</span></div>-->
  <div class="left-menu-option" logout-click><i class="fa fa-lg fa-sign-out"></i><span>Logout</span></div>
</div>
<div class="profit-navbar">
  <div class="profit-navbar-inner" left-menu-click>
    <span class="profit-logo">
      <i class="logo-icon fa fa-bars"></i>
    </span>
    <span class="logo-text">Profit</span>
  </div>
  <div class="profit-group-navbar">
    <ul class="profit-groups-tabs">
      <li class="profit-group-tab active" data-target="All" data-color="rgb(0, 0, 0) none" profit-tabs>
          All
      </li>
      <li class="profit-group-tab" data-target="{{g.get('title')}}" ng-repeat="g in groups" data-color="{{g.get('color')}}" profit-tabs>
          {{g.get('title')}}
      </li>
    </ul>
  </div>
  <div class="active-tab-indicator"></div>
</div>
<div class="profit-feeds" scroll-listener size-iphone>
  <!-- All -->
    <div class="profit-add">
      <div ng-click="_go('add', true)" style="z-index:4000"><i class="fa fa-plus"></i> New Item</div>
    </div>
    <div class="profit-items-feed active" data-target="All" ng-swipe-left="goNext()">
      <div class="profit-noitem" ng-hide="income || expense">
        0 items in database.
      </div>
      <div class="profit-item profit-short-report">
        <div class="profit-total row text-success">
          <div class="col-xs-6 text-left">Total Income</div>
          <div class="col-xs-6 text-right">{{totalIncome | currency}}</div>
        </div>
        <div class="profit-total row text-danger">
          <div class="col-xs-6 text-left">Total Expense</div>
          <div class="col-xs-6 text-right">{{totalExpense | currency}}</div>
        </div>
        <div class="profit-total row {{totalClass}}">
          <div class="col-xs-6 text-left">Total Profit</div>
          <div class="col-xs-6 text-right">{{total | currency}}</div>
        </div>
      </div>
      <div class="profit-all-item" ng-repeat="(group, items) in income">
        <div class="profit-item" ng-repeat="i in items">
          <div class="profit-item-title">
            {{i.title}}
          </div>
          <div class="profit-item-attachment" ng-show="{{i.attachment}}" style="background:url('{{i.attachment._url}}');background-size:cover;" class="lazy" data-original="{{i.attachment._url}}" lazy-load>
          </div>
          <div class="profit-item-cost income">
            <span>{{i.value | currency}}</span>
            <span class="pull-right profit-item-category">income</span>
          </div>
          <div class="profit-item-description">
            <p>
              {{i.notes | truncateNotes}}
            </p>
          </div>
          <div class="profit-item-timestamp" title="{{i.date}}" time-ago>
          </div>
          <div class="profit-item-group" style="background:{{i.color}}" ng-click="switchGroup('{{i.group}}')">{{i.group}}</div>
          <div class="profit-item-actions">
            <span class="profit-item-action edit" ng-click="_go('edit/{{i.id}}', true, $event)">
              Edit
            </span>
            <span class="profit-item-action remove">
              Remove
            </span>
          </div>
        </div>
      </div>
      <div class="profit-all-item" ng-repeat="(group, items) in expense">
        <div class="profit-item" ng-repeat="e in items">
          <div class="profit-item-title">
            {{e.title}}
          </div>
          <div class="profit-item-attachment" ng-show="{{e.attachment}}" style="background:url('{{e.attachment._url}}');background-size:cover;" class="lazy" data-original="{{e.attachment._url}}" lazy-load>
          </div>
          <div class="profit-item-cost expense">
            <span>{{e.value | currency}}</span>
            <span class="pull-right profit-item-category">expense</span>
          </div>
          <div class="profit-item-description">
            <p>
              {{e.notes | truncateNotes}}
            </p>
          </div>
          <div class="profit-item-timestamp" title="{{e.date}}" time-ago>
          </div>
          <div class="profit-item-group" style="background:{{e.color}}" ng-click="switchGroup('{{e.group}}')">{{e.group}}</div>
          <div class="profit-item-actions">
            <span class="profit-item-action edit" ng-click="_go('edit/{{e.id}}', true, $event)">
              Edit
            </span>
            <span class="profit-item-action remove">
              Remove
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- All -->
    <div class="profit-items-feed" data-target="{{g.get('title')}}" ng-repeat="g in groups" ng-swipe-left="goNext()" ng-swipe-right="goPrevious()">
      <div class="profit-noitem" ng-hide="income[g.get('title')] || expense[g.get('title')]">0 items in <strong>{{g.get('title')}}</strong> category.</div>
      <div class="profit-item {{i.category}}" ng-repeat="i in income[g.get('title')]" oid="{{i.id}}" set-active>
        <div class="profit-item-title">
          {{i.title}}
        </div>
        <div class="profit-item-attachment" ng-show="{{i.attachment}}" style="background:url('{{i.attachment._url}}');background-size:cover;" class="lazy" data-original="{{i.attachment._url}}" lazy-load>
        </div>
        <div class="profit-item-cost income">
            <span>{{i.value | currency}}</span>
            <span class="pull-right profit-item-category">income</span>
          </div>
        <div class="profit-item-description">
          <p>
            {{i.notes | truncateNotes}}
          </p>
        </div>
        <div class="profit-item-timestamp" title="{{i.date}}" time-ago>
        </div>
        <div class="profit-item-actions">
          <span class="profit-item-action edit" ng-click="_go('edit/{{i.id}}', true, $event)">
            Edit
          </span>
          <span class="profit-item-action remove">
            Remove
          </span>
        </div>
      </div>
      <div class="profit-item {{e.category}}" ng-repeat="e in expense[g.get('title')]" oid="{{e.id}}" set-active fast-click>
        <div class="profit-item-title">
          {{e.title}}
        </div>
        <div class="profit-item-attachment" ng-show="{{e.attachment}}"style="background:url('{{e.attachment._url}}');background-size:cover;">
        </div>
        <div class="profit-item-cost expense">
            <span>{{e.value | currency}}</span>
            <span class="pull-right profit-item-category">expense</span>
          </div>
        <div class="profit-item-description">
          <p>
            {{e.notes | truncateNotes}}
          </p>
        </div>
        <div class="profit-item-timestamp" title="{{e.date}}" time-ago>
        </div>
        <div class="profit-item-actions">
          <span class="profit-item-action edit" ng-click="_go('edit/{{e.id}}', true, $event)">
            Edit
          </span>
          <span class="profit-item-action remove">
            Remove
          </span>
        </div>
      </div>
    </div>
</div>
<div class="profit-loading">
  <div class="profit-loading-logo" loading-margin><i></i><i></i><i></i><i></i></div>
</div>