<div class="profit-list view inline-view" >
	<div class="search-box-wrap">
		<form>
			<div class='entry-area'>
      <input class="one-line-input full-width-input basic-input search-input" placeholder="&#xF002;"/>
      <i class="fa fa-search left-input-icon">
      </i>
    </div>
		</form>
	</div>
  <ul class="entry-list">
    <li ng-repeat="item in items">
      <list-item name="{{item.title}}" id="{{item.id}}" value="{{item.value}}" tag="{{item.tag}}" desc="{{item.description}}" attachment="{{item.attachment}}" date="{{item.date}}" click="_go(path, direction)">
      </list-item>
    </li>
  </ul>
</div>
