<div class="profit-list view inline-view" >
	
	<ul class="entry-list">
		<li>
			<list-item name="Macbook Pro Late 2013" id="1" value="$2654.23" tag="color-blue" desc="Thursday 7/26" attachment="no"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="2" value="$2654.23" tag="color-red" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="3" value="$2654.23" tag="color-red" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="4" value="$2654.23" tag="color-yellow" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="5" value="$2654.23" tag="color-red" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="6" value="$2654.23" tag="color-teal" desc="Thursday 7/26" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="7" value="$2654.23" tag="color-blue" desc="Thursday 7/26" attachment="yes"></list-item>
		</li>

		<li>
			<list-item name="Macbook Pro Late 2013" id="1" value="$2654.23" tag="color-blue" desc="Thursday 7/26" attachment="no"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="2" value="$2654.23" tag="color-red" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="3" value="$2654.23" tag="color-red" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="4" value="$2654.23" tag="color-yellow" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="5" value="$2654.23" tag="color-red" desc="2 Weeks ago 7/11" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="6" value="$2654.23" tag="color-teal" desc="Thursday 7/26" attachment="yes"></list-item>
		</li>
		<li>
			<list-item name="Macbook Pro Late 2013" id="7" value="$2654.23" tag="color-blue" desc="Thursday 7/26" attachment="yes"></list-item>
		</li>
	</ul>
</div>