<div class="view inline-view login-view" >
<div class="login-header">
  Profit
</div>
<form class="login-form">
  <div class='entry-area'>
        <input class="one-line-input full-width-input basic-input" placeholder="user email" ng-model="search.$"/>
    </div>
    <div class='entry-area'>
        <input class="one-line-input full-width-input basic-input" placeholder="password" ng-model="search.$"/>
    </div>
    <button class="login-page-button login-button">
      Login or Create Account
    </button>
</form>

<button class="login-page-button facebook-login">
    Login With Facebook
</button>

<button class="login-page-button twitter-login">
    Login With Twitter
</button>

</div>
