@import url(http://fonts.googleapis.com/css\?family=Open\+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body    
  font-family: 'Open Sans', sans-serif
  background-repeat: repeat  
  font-size: 100%
  padding:0px
  margin:0px
  background:#FAFAFA
  height: 100%

brad()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

  -moz-transform: scale(arguments);
  -webkit-transform: scale(arguments);
  -o-transform: scale(arguments);

.profit-home
  background: rgba(0,0,0,0.5)
  margin: 5px
  border-radius: 5px
  height: 400px
  padding: 15px
