@import url(http://fonts.googleapis.com/css\?family=Open\+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body    
  font-family: 'Open Sans', sans-serif
  background-repeat: repeat  
  font-size: 100%
  padding:0px
  margin:0px
  background:#FAFAFA
  height: 100%

brad()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

  -moz-transform: scale(arguments);
  -webkit-transform: scale(arguments);
  -o-transform: scale(arguments);

.profit-home
  padding: 10px

.home-item
  width:100%
  display:inline-block
  position:relative
  font-weight:500

.item-name
  float:left
  position:relative
  display:inline-block
  font-family: 'Arvo', serif;

.item-amount
  float:right
  position:relative
  display:inline-block

.tag-item
  width:100%
  display:inline-block
  position:relative
  font-weight:100

.left-indicator
  brad(30px)
  display:inline-block
  float:left
  height:10px
  width:10px
  margin:6px 5px 0px 30px
  position:relative

.color-red
  background:#f3402a !important

.color-orange
  background:#ffae25

.color-green
  background:#74c632

.color-yellow
  background:#ffea39

.color-teal
  background:#36d2c7

.color-blue
  background:#4098ff

.color-purple
  background:#bc49e5

.color-black
  background:#1f1f1f

.color-grey
  background:#1f1f1f

.nav-title
  display:block
  text-align:center
  
.right-action
  float:right
  display:inline

.left-action
  float:left
  display:inline-block

.nav
  margin-bottom:20px