<div class="profit-add view inline-view" >
	
	<form>
		<button class="button button-half">Upload</button> <button class="button button-half">Capture</button>
		<input class="one-line-input full-width-input basic-input" placeholder="title"/>
		<input class="one-line-input full-width-input basic-input" placeholder="date"/>
		<textarea class="basic-input text-area-input full-width-input" placeholder="notes"></textarea>
		<div class="styled">
		   <select>
		        <option>Apples</option>
		        <option selected>Pineapples</option>
		        <option>Chocklate</option>
		        <option>Pancakes</option>
		    </select>
		</div>
		<div class="new-tag">new tag</div>

	</form>
</div>