<div class="profit-add view" >
	<div class="home-nav nav">
		<div class="left-action">
			<button ng-click="direction('back');go('/home')">back</button>
		</div><div class="right-action">
			enter
		</div>
		<div class="nav-title">
			Create Entry
		</div>
		
	</div>
	<form>

		<input class="full-width-input basic-input" placeholder="title"/>
		<input class="full-width-input basic-input" placeholder="date"/>
		<textarea class="basic-input text-area-input" placeholder="notes"></textarea>
		<div class="styled">
		   <select>
		        <option>Apples</option>
		        <option selected>Pineapples</option>
		        <option>Chocklate</option>
		        <option>Pancakes</option>
		    </select>
		</div>

	</form>
</div>