<div class="profit-add view inline-view" >
	
	<form>
		<button class="button button-half"><i class="fa fa-cloud-upload"></i> Upload</button> <button class="button button-half"><i class="fa fa-camera"></i> Capture</button>
		<input class="one-line-input full-width-input basic-input" placeholder="title"/>
		<input class="one-line-input full-width-input basic-input" placeholder="date"/>
		<textarea class="basic-input text-area-input full-width-input" placeholder="notes"></textarea>

		<div class="styled">
		   <select>
		        <option>assign tag</option>
		        <option>tech</option>
		        <option>software</option>
		        <option>transportation</option>
		    </select>
		</div>

		<button class="new-tag">new tag</button>

	</form>
	<br/><br/><br/><br/>
</div>