<div class="profit-list view inline-view" >
	
	<ul class="entry-list">
		<li>
			<a class="list-link" href="#/list">
			<div class="entry-title"><div class="entry-tag color-red">+</div>2013 Macbook Pro</div><div class="entry-value">$2034.76</div>
			<div class="desc">13 days ago on December 23</div><div class="info"><img class="attached" src="img/file.png" width="16px" /></div>
			</a>
		</li>
		<li>
			<a class="list-link" href="#/list">
			<div class="entry-title"><div class="entry-tag color-blue">-</div>Adobe Create Suite</div><div class="entry-value">$64.36</div>
			<div class="desc">One month ago December 3</div><div class="info"><img class="attached" src="img/file.png" width="16px" /></div>
			</a>
		</li>
		<li>
			<a class="list-link" href="#/list">
			<div class="entry-title"><div class="entry-tag no-tag">+</div>Gas Oakland-SF</div><div class="entry-value">$64.36</div>
			<div class="desc">One month ago December 3</div>
			</a>
		</li>

	</ul>
</div>