<!doctype html>
<html ng-app="DatAppProfit">
<head>
	<title>The Profit App</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="lib/bootstrap/datepicker/css/datepicker.css" rel="stylesheet">
	<link href="styles/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

</head>
<body ontouchstart="">
	<div class="main-container" ng-controller="AppCtrl">
		<div class="left-menu"><div class="left-menu-option">Export</div><div class="left-menu-option">Help</div><div class="left-menu-option">Settings</div><div class="left-menu-option">Logout</div></div>
		<div class="left-menu-bg dark-bg"></div>
		<div class="home-nav nav" ng-controller="HeaderCtrl" ng-cloak>

			<div class="nav-title">
				<span ng-bind="title"></span>
				<i class="fa fa-angle-down years-dropdown-icon"></i>
			</div>
			<div class="left-action cancel-action" ng-show="hasBack">
				<button class='back-button-wrap' ng-click="goBack()"><!--<img src="img/back-arrow.png" class="back-img" width="11px" />--> <i class="fa fa-chevron-left back-img2"></i> cancel</button>


			</div>
			<div class="left-action back-action" ng-show="hasBack">
				<button class='back-button-wrap' ng-click="goBack()"><!--<img src="img/back-arrow.png" class="back-img" width="11px" />--> <i class="fa fa-chevron-left back-img2"></i> home</button>
			</div>

			<div class="left-action menu-button" ng-show="hasBack" left-menu-click>
				<button class="action-left"><i class="fa fa-bars fa-inline larger-icon"></i></button>
			</div>

			<!--<div class="right-action search-action">
				<button class="primary-action" ng-click="goForward()"><i class="fa fa-search fa-inline larger-icon"></i></button>
			</div>-->
			<div class="right-action enter-action">
				<!--<div class="add-button-wrap"  add-click><div class="add-button"><button ng-click="goForward()" class="button-text">+</div><i class="fa fa-money add-icon"></i></button></div>-->
				<button class="primary-action right-text-action" ng-click="goForward()">enter</button>
			</div>
			<div class="right-action edit-action">
				<!--<div class="add-button-wrap"  add-click><div class="add-button"><button ng-click="goForward()" class="button-text">+</div><i class="fa fa-money add-icon"></i></button></div>-->
				<button class="secondary-action" ng-click="goForward()">edit</button>
			</div>
			<div class="right-action add-action">
				<!--<div class="add-button-wrap"  add-click><div class="add-button"><button ng-click="goForward()" class="button-text">+</div><i class="fa fa-money add-icon"></i></button></div>-->
				<button class="primary-action" ng-click="goForward()"><i class="fa fa-plus-circle fa-inline larger-icon"></i></button>
			</div>
			<div class="nav-title">
				<span ng-bind="title"></span>
			</div>
		</div>
		<div class="main-content br grey-border bs main-view">
			<style ng-bind-html-unsafe="style"></style>
			<ng-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"></ng-view>

		</div>

		<footer>
		</footer>
		<!-- <loading-panel></loading-panel> -->
		<script type="text/javascript" src="lib/jquery/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="lib/jquery/jquery.cookie.js"></script>
		<script type="text/javascript" src="lib/jqueryui/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="lib/underscore/underscore.min.js"></script>
		<script type="text/javascript" src="lib/jquery/moment.js"></script>
		<script type="text/javascript" src="lib/jquery/jquery.timeago.js"></script>
		<script type="text/javascript" src="lib/jquery/jquery.validate.min.js"></script>
		<script type="text/javascript" src="lib/jquery/additional-methods.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="lib/angularjs/angular-resource.min.js"></script>
		<script type="text/javascript" src="lib/angularjs/angular-cache.js"></script>
		<script type="text/javascript" src="lib/browser/UAParser.js"></script>
		<!--Libs-->
	    <script src="scripts/app.js"></script>
	    <script src="scripts/services.js"></script>
	    <script src="scripts/controllers.js"></script>
	    <script src="scripts/filters.js"></script>
	    <script src="scripts/directives.js"></script>
	</div>action
</body>
</html>